/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.heading {
  font-family: 'roboto';
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #0f172a;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
  height: 70px;
  min-width: 30px;
  margin-right: 12px;
}

.message-container {
  margin-top: 4px;
  margin-left: 10px;
}

.message-heading {
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.description {
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #64748b;
}

.success {
  color: #2dca73;
}

.error {
  color: #ff0b37;
}

.warning {
  color: #ffb800;
}

.info {
  color: #0f81e8;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    width: 90%;
    max-width: 1110px;
  }

  .heading {
    font-size: 48px;
  }

  .message-container {
    margin-top: 0;
  }

  .message-heading {
    font-size: 24px;
  }

  .description {
    font-size: 18px;
  }
}
